<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Contact Us</title>
</head>
<body>
    <h2>Contact Us</h2>
    <form method="POST">
        <div class="group">
            <input required="true" name="email" class="main-input" type="email">
            <span class="highlight-span"></span>
            <label class="lebal-email">Email</label>
        </div>
        <div class="group">
            <textarea required="true" name="message" class="main-input" rows="4"></textarea>
            <span class="highlight-span"></span>
            <label class="lebal-email">Message</label>
        </div>
        <button class="submit">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <footer>
        <a href="{{ url_for('login') }}">Return Home</a>
    </footer>
</body>
</html>
